/*Please always comment your styling with appropriate pageName-section and what the styling does*/

/* The Homepage
The header session */
#header {
    background-color:#ffc107;
    display: flex;
    height: 20vh;
    color: #1f5913;
}
#club-brand {
    display: flex;
    width: 50%;
    margin-left: 10px;
}
@media only screen and (max-width: 600px) {
    #club-brand {
        width: 100%;
    }
}
#header #club-brand img {
    display: block;
    width: 30%;
    height: 100%;
}
#header h2 {
    padding-top: 30px;
    margin: 20px 10px 20px 10px;
    font-family: 'Teko', sans-serif;
    width: 70%;
    color: #1f5913;
}
#top-nav {
    background-color: #1f5913;
}

/* Slider Section */
#contact-btn:hover {
    border-radius: 15px;
    background: #ffc107;
    color: #1f5913;
}

/* News Section */
.news-card {
    margin: 0 auto;
}

/* Footer Section */
#footer {
    background: #272727;
}
#social-links {
    align-content: center;
}
#social-links #social-icons {
    font-size: 30px;
    list-style-type: none;
    display: flex;
}
#social-icons li {
    padding-right: 20px;
}
#social-icons a {
    color: #1f5913;
    margin-left: 20px;
}
#footer-address {
    display: flex;
}
#club-adress {
    text-align: right;
    padding-left: 20px;  
}
#footer-legal {
    background-color: #000;
}
#dev {
    font-size: 11px;
}